*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f5f7fb;
  color: #111;
}

button
input,
textarea {
  font-family: inherit;
  color: inherit;
}

button {
  background: none;
}

input,
textarea {
  background-color: #ffffff;
  border: 1px solid #d6d6d6;
  color: #111;
}

input::placeholder,
textarea::placeholder {
  color: #6b7280;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
}